[Unit]
Description=Sync Proxmox LXC -> Traefik dynamic files
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/pve-traefik-sync
ExecStart=/usr/bin/python3 /opt/pve-traefik-sync/sync.py --out-dir /etc/traefik/conf.d --passfile /root/.pve-pass